<!DOCTYPE html>
<html>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="listar_pessoas.css" /> -->
</head>
<body>
    <table>
        <tr>
            <th>Index</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Deletar</th>
        </tr>
        {%for index in lista_index:%}
            <tr>
                <th>{{lista_pessoas[index].cod}}</th>
                <th>{{lista_pessoas[index].nome}}</th>
                <th>{{lista_pessoas[index].idade}}</th>
                <th style='text-align: center'><a href='/deletar_pessoa?cod={{lista_pessoas[index].cod}}'>X</a></th>
            </tr>
        {%endfor%}
    </table>
    <br>
    <a href=form_cadastrar>Cadastrar</a>
    <br>
    {{lista}}

</body>
</html>